<!DOCTYPE html>
<html>
    <head>
        <title>About <%=fitnessData.mainName%></title>
        <link rel="stylesheet" type="text/css" href="/about.css">
    </head>
    <body>
        <h1>About <%=fitnessData.mainName%></h1>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="workout">Workouts</a>
            <a href="health/nutrition">Health</a>
            <a href="goals">Goals</a>
            <% if (!user) { %>
                <a href="auth/login">Login</a>
                <a href="auth/register">Register</a>
            <% } else { %>
                <a href="dashboard">Dashboard</a>
            <% } %>
        </nav>

        <p class="about-text"> Welcome to <%=fitnessData.mainName%>, your ultimate fitness companion! 
            Here, you will be able to log your workouts, discover new exercises tailored to your fitness level, and track your health journey with ease. 
            Whether you're looking to build strength, improve endurance, or simply maintain a healthy lifestyle, our platform provides the tools you need to stay on track. 
            Additionally, you can set achievable goals for yourself, monitor your progress, and celebrate your milestones along the way. 
            Let <%=fitnessData.mainName%> help you take control of your fitness journey and achieve your personal best!
        </p>

        <img src="/images/workout.jpeg" alt="workout image">
        <img src="/images/nutrition.jpeg" alt="nutrition image">
        <img src="/images/trophy.jpg" alt="trophy image">
    </body>
</html>
