<!DOCTYPE html>
<html>
    <head>
        <title><%=fitnessData.mainName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <h1>Your Personal <%=fitnessData.mainName%></h1>
        <p><a href="about">About</a></p>
        <p><a href="workout">Your workouts</a></p>
        <p><a href="health">Track your health</a></p>
        <p><a href="goals">Set some goals</a></p>
        <p><a href="auth/register">Register</a></p>
        <p><a href="auth/login">Login</a></p>
        <p><a href="dashboard">Dashboard</a></p>
    </body>
</html>