<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="/search.css">
    </head>
    <body>
        <h1>Search</h1>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/workout">Workouts</a>
            <a href="/goals">Goals</a>
            <a href="/health/nutrition">Nutrition</a>
            <% if (!user) { %>
                <a href="/auth/register">Register</a>
                <a href="/auth/login">Login</a>
            <% } else { %>
                <a href="/dashboard">Dashboard</a>
                <a href="/auth/logout">Logout</a>
            <% } %>
        </nav>

        <p class="search-text">Search the workout type to see the exercises you've done</p>

        <form action="search_result" method="GET">
            <p>Search workout type</p>
            <input id="search_box" type="text" name="workoutType">
            <input type="submit" value="Search" >
        </form>

    </body>
</html>